HCA_CLIENT_ID=
HCA_CLIENT_SECRET=

HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=

SLACK_APP_ID=A
SLACK_BOT_TOKEN=xoxb-
SLACK_SIGNING_SECRET=

SLACK_MAIN_CHANNEL=C
SLACK_HELP_CHANNEL=C
SLACK_BULLETIN_CHANNEL=C
SLACK_REVIEWS_CHANNEL=C
SLACK_GRANTS_CHANNEL=C

AIRTABLE_PAT=pat
AIRTABLE_BASE=app
AIRTABLE_SUBMISSIONS_TABLE=tbl
AIRTABLE_UPDATE_HACKATIME_URL=

CF_ACCOUNT_ID=
CF_KV_NAMESPACE=
CF_API_TOKEN=

HCB_CLIENT_ID=
HCB_CLIENT_SECRET=

HACKATIME_START_DATE=
EXTERNAL_URL=https://re-dream.hackclub.com
FILLOUT_SECRET_KEY=
AIRTABLE_SECRET_KEY=
